@{
   
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BasicAuthentication.ViewModels

@model CreateRoleViewModel

<h2>Create a new Role</h2>
<hr />
@using (Html.BeginForm("Create", "Role", FormMethod.Post))
{
    @Html.LabelFor(m => m.Role)
    @Html.TextBoxFor(m => m.Role)

    <input type="submit" value="Register" />
}
